<div class="container">
  <h1>Task Management</h1>

  <!-- Error Msg
  <div class="alert alert-danger" ng-if="$ctrl.errMsg">
    {{$ctrl.errMsg}}
  </div> -->

  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Set as completed</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in $ctrl.tasks">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.status}}</td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="$ctrl.toggleModal(task)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" ng-confirm-click="Are you sure to delete this record?" confirmed-click="$ctrl.deleteTask(task.id)">Delete</button>
        </td>
        <td ng-if="task.status !== 'Completed'">
          <button class="btn btn-success btn-sm" ng-click="$ctrl.setAsCompleted(task)">Set Completed</button>
      </tr>

      <!-- Dynamically Add (not recommended bc unable use multiple controller in <table> (unclean code) & can't use <Form> for better error handling) -->
      <tr>
        <td>
          <input type="text" class="form-control" ng-model="$ctrl.newTask.title" placeholder="Title" />
        </td>
        <td><input type="text" class="form-control" ng-model="$ctrl.newTask.description" placeholder="Description" />
        </td>
        <td>
          <select class="form-control" ng-model="$ctrl.newTask.status">
            <option value="Completed">Completed</option>
            <option value="In Progress">In Progress</option>
            <option value="Pending">Pending</option>
          </select>
        </td>
        <td colspan="2">
          <button class="btn btn-success btn-sm" ng-click="$ctrl.addTask($ctrl.newTask)">Add</button>
        </td>
      </tr>

    </tbody>
  </table>

  <!-- Task Form (Ideally) -->
  <!-- <form name="taskForm" ng-submit="addTask()" ng-controller="taskFormController">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" ng-model="task.title" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" ng-model="task.description" required />
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control" id="status" ng-model="task.status" required>
        <option value="Completed">Completed</option>
        <option value="In Progress">In Progress</option>
        <option value="Pending">Pending</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> -->

</div>